@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600;700&family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  --black: #03060d;
  --white: #d3d4d7;
  --bg-main: #103D58;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: var(--bg-main);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  color: var(--white);
  font-family: 'Alexandria', sans-serif;
}

p, li {
  color: var(--white);
  font-family: 'Fira Code', monospace;
}